<section class="relative overflow-hidden bg-cover">
  <div
    class="absolute inset-0 bg-center bg-cover scale-120 blur-xs brightness-90"
    style="background-image: url('/bread-and-cake.jpg')"
  ></div>

  <div class="relative z-10">
    <div class="px-4 mx-auto max-w-7xl text-center py-24 lg:py-56">
      <h1 class="mb-6 tracking-tighter">Herzlich Willkommen!</h1>
      <p class="mb-8 md:text-xl sm:px-16 lg:px-48 text-white">
        Mein kleines, privates Back-Projekt, in dem ihr meine liebsten Rezepte und Kreationen
        bestellen könnt.
      </p>
      <div
        class="flex flex-col space-y-4 space-x-0 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4"
      >
        <monauppi-link [href$]="'/Produkte'" [variant$]="'primary'" [appearance$]="'button'">
          <div class="inline-flex items-center justify-center gap-1">
            Zu den Produkten
            <ng-icon name="featherArrowRight" />
          </div>
        </monauppi-link>
        <monauppi-link [href$]="'/Über'" [variant$]="'secondary'" [appearance$]="'button'">
          Über mich :)
        </monauppi-link>
      </div>
    </div>
  </div>
</section>
